.calendar:hover path,
.envelope:hover path, 
.compass:hover path {
    fill: #d85f51;
}

.logo-name:hover,
.link-check-in:hover {
    color: #d85f51;
}

.theme-button {
    background-color: #d85f51;
}
.form-part::before {
    content: '';
    background:#d85f51;
}

.form-link {
    color: #d85f51;
}

.form-link:hover {
    color: #d85f51;
}

.btn-create-account {
    background-color:#d85f51;
}

.btn-create-account:hover {
    background-color: #d85f51;
}